<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604847712401-m9r9v0o3fq9n3r5417eq8it7rdm6qjld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604847712401-m9r9v0o3fq9n3r5417eq8it7rdm6qjld</string>
	<key>API_KEY</key>
	<string>AIzaSyApOSs-6a1bU6JK6kIEZur1sHZFq9sw_S0</string>
	<key>GCM_SENDER_ID</key>
	<string>604847712401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.lcsc.cs.gymwarrior</string>
	<key>PROJECT_ID</key>
	<string>gymwarrior-e4e7e</string>
	<key>STORAGE_BUCKET</key>
	<string>gymwarrior-e4e7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604847712401:ios:1f558a8b8b7e3c8400b730</string>
	<key>DATABASE_URL</key>
	<string>https://gymwarrior-e4e7e.firebaseio.com</string>
</dict>
</plist>