.profileImage {
  background: url(../../../assets/groupprofile.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 55%;
}

.profileImage2 {
  background: url(../../../assets/profilePhoto2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 55%;
}

#nameStatus {
  color:white;
  text-shadow: -2px 2px 6px black;
  }


.profileImage3 {
  background: url(../../../assets/groupprofile.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 55%;
}
.nav{
  width: 24%;
}
@media only screen and (max-width: 400px){
  .nav{
    width: 23.7%;
  }
}
