<ion-app *ngIf="dataReady">
  <!--Navigation Bar-->
  <ion-menu contentId="main" side="end" class="navMenu">
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-button class="navButton" fill="clear"  href="/user/profile">Profile Page</ion-button>
        </ion-item>
        <ion-item>
          <ion-button class="navButton" fill="clear" href="/user/gym">Gym Page</ion-button>
        </ion-item>
        <ion-item>
          <ion-button class="navButton" fill="clear" href="/user/groups">Groups Page</ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
              
  <div id="main">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-img class="logo" src="../../assets/logo.png"></ion-img>
      </ion-toolbar>
    </ion-header>
  </div> 
  
  <div class="profileImage">
    <div *ngIf="imageReady">
      <!-- <div class="imageBg" [style.background-image]="profileImage"> -->
      <div class="imageBg" [ngStyle]="{'background-image':'url('+profileImage+')'}">
        
        <!-- <img [src]="profileImage" *ngIf="profileImage"> -->
      </div>
  </div>
    <ion-button (click)="selectSource()"><ion-icon name="md-create"></ion-icon></ion-button>  
    <ion-card-header>
        <ion-card-title> {{ fname }} {{ lname }}</ion-card-title>
        <ion-card-subtitle> Out of Shape -- Beginner </ion-card-subtitle>
    </ion-card-header>
  </div>
  <div class="navbar">
    <ion-button class="nav" color="lightred">About</ion-button>
    <ion-button class="nav" color="darkred">Photos</ion-button>
    <ion-button class="nav" color="lightred">Friends</ion-button>
    <ion-button class="nav" color="darkred">Schedule</ion-button>
  </div>
  
  
  <main class="mainContent">
    <div>
      <ion-card class="profileImage2">
        <ion-card-header>
          <ion-card-subtitle id="nameStatus">Smart Fitness</ion-card-subtitle>
          <ion-card-title id="nameStatus">Tim Herbert</ion-card-title>
        </ion-card-header>
        <ion-card-content id="nameStatus">
            Exercise is a celebration of what your body can do, not a punishment for what you ate.
        </ion-card-content>
      </ion-card>
  
      <ion-card class="profileImage3">
        <ion-card-header>
          <ion-card-subtitle id="namestatus">Smart Fitness</ion-card-subtitle>
          <ion-card-title id="nameStatus">Tim Herbert</ion-card-title>
        </ion-card-header>

      <ion-card-content id="nameStatus">
        <ion-icon name="location-outline"></ion-icon> Smart Fitness 9 am Yoga
      </ion-card-content>
      </ion-card>
    </div>
  </main>
      
  <ion-button (click)="signOut()" class="signOutButton">
    <ion-icon slot="icon-only" name="log-out"></ion-icon>
  </ion-button>
</ion-app>

