<ion-app>
  
    
    <!-- Main Content Area. Insert content in here-->
      <header>
       <img class="responsive" src="../../../assets/profilePhoto.jpeg">
      </header>
      <main>
      <ion-button color="lightred">About</ion-button>
      <ion-button color="darkred">Photos</ion-button>
      <ion-button color="lightred">Friends</ion-button>
      <ion-button color="darkred">Schedule</ion-button>
     
  </main>
    

  <ion-button (click)="signOut()">
    <ion-icon slot="icon-only" name="log-out"></ion-icon>
  </ion-button>
   
</ion-app>

