<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Academy Fire</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <header>
    <ion-img class="centerLogo" src="../../../assets/landing_logo.png"></ion-img>
  </header>
  <div class="flip-container" #flipcontainer>
    <div class="flipper">
      <div class="front">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Login</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <ion-input type="email" placeholder="E-Mail" formControlName="email"></ion-input>
              <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>

              <ion-button expand="block" type="submit" [disabled]="!loginForm.valid"
              class="sign-in ion-padding-horizontal ion-margin-vertical">
                Sign in
              </ion-button>
  
              <ion-button expand="block" type="button" fill="outline"
              class="create-button ion-padding-horizontal ion-margin-vertical" (click)="toggleRegister()">
                Create Account
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </div>

      <div class="back">
        <ion-card>
            <ion-card-header>
              <ion-card-title>Register</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <form [formGroup]="registerForm" (ngSubmit)="register()">
                <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
                <ion-input placeholder="First Name" formControlName="fname"></ion-input>
                <ion-input placeholder="Last Name" formControlName="lname"></ion-input>
                <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
                
                <ion-button expand="block" type="submit" class="ion-padding-horizontal ion-margin-vertical"
                [disabled]="!registerForm.valid">
                  Register
                </ion-button>
                
                <ion-button expand="block" type="button"  fill="clear"
                class="ion-padding-horizontal ion-margin-vertical" (click)="toggleRegister()">
                  <ion-icon name="arrow-back" slot="start"></ion-icon>
                  Back to Login
                </ion-button>
                
              </form>
            </ion-card-content>
          </ion-card>
      </div>
    </div>
  </div>

</ion-content>
