<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-menu contentId="main" side="end" class="navMenu">
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-button class="navButton" fill="clear" href="/buyer/home">Home Page</ion-button>
      </ion-item>
      <ion-item>
        <ion-button class="navButton" fill="clear"  href="/buyer/profile">Profile Page</ion-button>
      </ion-item>
      <ion-item>
        <ion-button class="navButton" fill="clear" href="/buyer/gym">Gym Page</ion-button>
      </ion-item>
      <ion-item>
        <ion-button class="navButton" fill="clear" href="/buyer/groups">Groups Page</ion-button>
      </ion-item>
 
    </ion-list>
  </ion-content>
</ion-menu>

<div id="main">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-img class="logo" src="http://isoptera.lcsc.edu/~tcherbert/cs480/gwlogo.png"></ion-img>
    </ion-toolbar>
  </ion-header>
</div>   
</ion-app>
